<div class="dialog-container">
    <h2>INFORMACIÓN DEL LIBRO</h2>

    <mat-dialog-content>
        <div>
            <div>
                <p><strong>Año de publicación: </strong>{{ oLibro.Year }}</p>
                <p><strong>Editorial: </strong>{{ oLibro.Publisher }}</p>
                <p><strong>ISBN: </strong>{{ oLibro.ISBN }}</p>
                <p><strong>Cantidad de páginas: </strong>{{ oLibro.Pages }}</p>
            </div>
        </div>

        <!-- ¿DESCRIPCIÓN? -->
        
    </mat-dialog-content>
</div>